<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Programme</title>
</head>
<body>
    <h1>Hey welcome to my website</h1>

    <form action = '/reverse_pgm', method="post">{% csrf_token %}
        <label for = "inp">Enter the string</label>
        <input type = "text" name = "inp" required>
        <button type = "submit">Reverse Output</button>
    </form>
</body>
</html>